<img src="~/images/adminarea.jpg" alt="Àrea de Administração" class="marginTop" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Administrador</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Sair da área do Administrador</a>
</div>

